<div class="bp1-footer">
    <div class="bp1-path">
    </div>
    <div class="bp1-footer1">
        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-desktop-rectangle@2x.png')}}" class="bp1-rectangle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
        <div class="bp1-socialicons">
            <a href="https://www.facebook.com/Lighteyes.USA/" target="_blank">
                <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-desktop-facebook@2x.png')}}" class="bp1-facebook" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                />
            </a>
            <a href="https://www.instagram.com/lighteyes.usa/" target="_blank">
                <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-desktop-instagram-icon@2x.png')}}" class="bp1-instagramicon"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
            </a>
            <a href="https://www.youtube.com/channel/UCDFChI-zAiMXhpJMvM1ADrw" target="_blank">
                <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-desktop-youtube@2x.png')}}" class="bp1-youtube" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                />
            </a>
        </div>
    </div>
    <div class="bp1-rectangle2copy">
    </div>
    <div class="bp1-rectangle2copy2">
    </div>
    <a href="#" onclick="document.getElementsByName('form3')[0].submit(); if (window.submitted) window.submitted();">
        <div class="bp1-subscribe">
            Subscribe
        </div>
    </a>
    <input class="bp1-textyouremailaddress" name="textYourEmailAddress" placeholder="Your email address" />
</div>
<div class="bp1-footerlinks2">
    <a href="{{url_for('showProducts')}}">
        <div class="bp1-products">
            Products
        </div>
    </a>
    <a href="{{url_for('showBlog')}}">
        <div class="bp1-blog1">
            Blog
        </div>
    </a>
    <a href="{{url_for('showContact')}}">
        <div class="bp1-contactus">
            Contact Us
        </div>
    </a>
    <a href="{{url_for('showTeam')}}">
        <div class="bp1-team">
            Team
        </div>
    </a>
    <a href="{{url_for('showSuccessStories')}}">
        <div class="bp1-successstories">
            Success Stories
        </div>
    </a>
</div>
<div class="bp1-footerlinks">
    <a href="{{url_for('showAboutUs')}}">
        <div class="bp1-aboutus">
            About Us
        </div>
    </a>
    <a href="{{url_for('showServices')}}">
        <div class="bp1-services1">
            Services
        </div>
    </a>
    <a href="{{url_for('showCourse')}}">
        <div class="bp1-coursetraining1">
            Course Training
        </div>
    </a>
    <a href="{{url_for('showShipping')}}">
        <div class="bp1-shipping">
            Shipping
        </div>
    </a>
    <a href="{{url_for('showClientCare')}}">
        <div class="bp1-clientcare">
            Client Care
        </div>
    </a>
    <a href="{{url_for('showQandA')}}">
        <div class="bp1-qaeducational">
            Q&amp;A - Educational
        </div>
    </a>
</div>