@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@font-face {
  font-family: "MyriadPro-Regular";
  src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url('../fonts/BlackHanSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  src: url('../fonts/Times New Roman Bold.ttf') format("truetype");
}

.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.eyelashlipmakeupremover {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 860px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.an-animation-enter6 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : an-animation-enter6-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter6-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter6-frames 0.2s ease-in-out 1 normal forwards;
  animation           : an-animation-enter6-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter6-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.an-animation-enter7 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : an-animation-enter7-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter7-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter7-frames 0.2s ease-in-out 1 normal forwards;
  animation           : an-animation-enter7-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter7-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.an-animation-enter8 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : an-animation-enter8-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : an-animation-enter8-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : an-animation-enter8-frames 0.2s ease-in-out 1 normal forwards;
  animation           : an-animation-enter8-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes an-animation-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes an-animation-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes an-animation-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes an-animation-enter8-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.eyelashlipmakeupremover .eyelashlipheader {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 183px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 498px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.eyelashlipmakeupremover .price {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 231px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.eyelashlipmakeupremover .star {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .star1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 516px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .star2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 531px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .star3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 548px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .star4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 564px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .noreviewsyet {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 275px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 590px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .text {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 309px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .text1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 330px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .textcopy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 705px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .text2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 274px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 682px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 13.0px;
  text-decoration     : underline;
}
.eyelashlipmakeupremover .text3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 409px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .button {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 492px;
  height              : 36px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 630px;
  border-radius       : 10px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .button1 {
  background-color    : rgba(250, 150, 122, 1.0);
  top                 : 492px;
  height              : 36px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  border-radius       : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .textcopy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 504px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 529px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(66, 65, 65, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .textcopy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 655px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 518px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.eyelashlipmakeupremover .textcopy3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 503px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 660px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(67, 65, 65, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.eyelashlipmakeupremover .text4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 437px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 538px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "TimesNewRomanPS-BoldMT", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(54, 46, 46, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.eyelashlipmakeupremover .downarrow {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 506px;
  height              : 8px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 754px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.eyelashlipmakeupremover .button2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 435px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 499px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .downarrow1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 442px;
  height              : 6px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 507px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.eyelashlipmakeupremover .button3 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 435px;
  height              : 20px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  border-radius       : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .uparrow {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 442px;
  height              : 6px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 563px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.eyelashlipmakeupremover .box {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 641px;
  height              : 41px;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 680px;
  height              : 3px;
  width               : 471px;
  position            : absolute;
  margin              : 0;
  left                : 500px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .line1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 396px;
  height              : 3px;
  width               : 466px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -4px;
  height              : 165px;
  width               : 1044px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .banner1 {
  background-color    : rgba(102, 103, 103, 1.0);
  top                 : 0px;
  height              : 165px;
  width               : 1044px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .text5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 120px;
  height              : auto;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MyriadPro-Regular", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(254, 255, 254, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.eyelashlipmakeupremover .banner .logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 117px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 372px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .logo1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .spoolie {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 104px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .box1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 107px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .spoolie1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 104px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .box2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 107px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 21px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 21px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 18px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .banner .logo .text17 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 17px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 139px;
  height              : 15px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 251px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .stackedgroup .linkscopy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .stackedgroup .links {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .stackedgroup .product {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .stackedgroup .services {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .stackedgroup .blog {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .stackedgroup .coursetraining {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .stackedgroup .contact {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.eyelashlipmakeupremover .eyelipremover {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 291px;
  height              : 308px;
  width               : 437px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .eyelipremover .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 308px;
  width               : 437px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .eyelipremover .eyelipremover1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 34px;
  height              : 312px;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eyelashlipmakeupremover .eyelipremover .eyelipremover1 .eyelipremover2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 312px;
  width               : 415px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}