@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@font-face {
  font-family: "MyriadPro-Regular";
  src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url('../fonts/BlackHanSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  src: url('../fonts/Times New Roman Bold.ttf') format("truetype");
}

.bp2-productoverlayipad {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 2925px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-productoverlayipad .bp2-productipad {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2931px;
  width               : 776px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-productoverlayipad .bp2-rollovercopy {
  background-color    : rgba(130, 125, 125, 1.0);
  top                 : -1px;
  height              : 2931px;
  width               : 773px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.56;
}
.bp2-productoverlayipad .bp2-stackedgroupcopy {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  top                 : calc(0.00% + 14px);
  height              : auto;
  width               : 100%;
  margin-top          : -1426px;
  position            : relative;
  margin-bottom       : 1426px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-productoverlayipad .bp2-stackedgroupcopy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 85px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 346px;
}
.bp2-productoverlayipad .bp2-stackedgroupcopy .bp2-link {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.bp2-productoverlayipad .bp2-stackedgroupcopy .bp2-linkcopy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-productoverlay {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 4163px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-productoverlay .bp1-product {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 4157px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-productoverlay .bp1-rollover {
  background-color    : rgba(130, 125, 125, 1.0);
  width               : 100%;
  height              : 4157px;
  pointer-events      : auto;
  margin-top          : -3px;
  position            : relative;
  margin-bottom       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.61;
}
.bp1-productoverlay .bp1-rollover-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 1024px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0px;
}
.bp1-productoverlay .bp1-stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  pointer-events      : auto;
  top                 : calc(0.00% + 20px);
  height              : auto;
  width               : 100%;
  margin-top          : -2038px;
  position            : relative;
  margin-bottom       : 2038px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-productoverlay .bp1-stackedgroup-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  height              : 100%;
  width               : 85px;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 470px;
}
.bp1-productoverlay .bp1-stackedgroup .bp1-link {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.bp1-productoverlay .bp1-stackedgroup .bp1-linkcopy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 1023px) {
  .bp2-productoverlayipad {
    display             : block;
  }
  .bp1-productoverlay {
    display             : none;
  }
}
@media screen and (min-width: 1024px) {
  .bp2-productoverlayipad {
    display             : none;
  }
  .bp1-productoverlay {
    display             : block;
  }
}