@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@font-face {
  font-family: "MyriadPro-Regular";
  src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url('../fonts/BlackHanSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  src: url('../fonts/Times New Roman Bold.ttf') format("truetype");
}

.bp3-servicesipad {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 2140px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-servicesipad .bp3-footer {
  background-color    : rgba(255, 255, 255, 0.0);
  bottom              : calc(0.00% - 1px);
  height              : 179px;
  width               : 794px;
  position            : absolute;
  margin              : 0;
  left                : -8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-path {
  background-color    : rgba(254, 255, 254, 1.0);
  top                 : 80px;
  height              : 27px;
  width               : 219px;
  position            : absolute;
  margin              : 0;
  left                : 543px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-footer1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 179px;
  width               : 794px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-footer1 .bp3-rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 179px;
  width               : 794px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-footer1 .bp3-socialicons {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 119px;
  height              : 21px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 318px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-footer1 .bp3-socialicons .bp3-facebook {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 20px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-footer1 .bp3-socialicons .bp3-instagramicon {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 20px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-footer1 .bp3-socialicons .bp3-youtube {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 20px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-rectangle2copy {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 118px;
  height              : 28px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 542px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-rectangle2copy2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 82px;
  height              : 28px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 542px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footer .bp3-subscribe {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 121px;
  height              : auto;
  width               : 84px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(122, 122, 122, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footer .bp3-textyouremailaddress {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 30px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(122, 122, 122, 1.0);
  text-align          : left;
  line-height         : 18.0px;
  border              : 0;
}
.bp3-servicesipad .bp3-footer .bp3-textyouremailaddress::placeholder {
  color               : rgba(122, 122, 122, 0.6);
}
.bp3-servicesipad .bp3-address {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1976px;
  height              : 72px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 324px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-address .bp3-a1630oaklandrdsuit {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-subscribeinfo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1976px;
  height              : 36px;
  width               : 186px;
  position            : absolute;
  margin              : 0;
  left                : 537px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-subscribeinfo .bp3-subscribetoournew {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1973px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footerlinks .bp3-home {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks .bp3-aboutus {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks .bp3-services {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks .bp3-coursetraining {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks .bp3-shipping {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks .bp3-clientcare {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks .bp3-qaeducational {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1976px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-servicesipad .bp3-footerlinks2 .bp3-products {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks2 .bp3-blog {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks2 .bp3-contactus {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks2 .bp3-team {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-servicesipad .bp3-footerlinks2 .bp3-successstories {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp2-servicesmobile {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 2605px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-servicesmobile .bp2-socialiconscopy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2660px;
  height              : 25px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-socialiconscopy .bp2-facebook {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-socialiconscopy .bp2-instagramicon {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-socialiconscopy .bp2-youtube {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer {
  background-color    : rgba(255, 255, 255, 0.0);
  bottom              : 0%;
  height              : 194px;
  width               : 325px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer .bp2-path {
  background-color    : rgba(254, 255, 254, 1.0);
  top                 : 58px;
  height              : 18px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer .bp2-footer1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 194px;
  width               : 325px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer .bp2-footer1 .bp2-rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 194px;
  width               : 325px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer .bp2-box {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 162px;
  height              : 18px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer .bp2-box1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 135px;
  height              : 18px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-footer .bp2-textyouremail {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 130px;
  height              : 30px;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(122, 122, 122, 1.0);
  text-align          : left;
  line-height         : 16.0px;
  border              : 0;
}
.bp2-servicesmobile .bp2-footer .bp2-textyouremail::placeholder {
  color               : rgba(122, 122, 122, 0.6);
}
.bp2-servicesmobile .bp2-footer .bp2-subscribe {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 165px;
  height              : auto;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(122, 122, 122, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.bp2-servicesmobile .bp2-socialicons {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2562px;
  height              : 25px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-socialicons .bp2-facebook1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-socialicons .bp2-instagramicon1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-socialicons .bp2-youtube1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-sublinks2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2418px;
  height              : auto;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-sublinks2 .bp2-products {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks2 .bp2-blog {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks2 .bp2-contactus {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks2 .bp2-team {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks2 .bp2-successstories {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-address {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2418px;
  height              : auto;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-address .bp2-a1630oaklandrdsuit {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-subscribeinformation {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2512px;
  height              : auto;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-subscribeinformation .bp2-text {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2417px;
  height              : auto;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 82px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-home {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-aboutus {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-services {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-coursetraining {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-shipping {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-clientcare {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.bp2-servicesmobile .bp2-sublinks1 .bp2-stackedgroup .bp2-qaeducational {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 1px 0 0 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-services {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 2695px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-services .bp1-footer {
  background-color    : rgba(255, 255, 255, 0.0);
  bottom              : 0%;
  height              : 244px;
  width               : 1052px;
  position            : absolute;
  margin              : 0;
  left                : -14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-path {
  background-color    : rgba(254, 255, 254, 1.0);
  top                 : 109px;
  height              : 37px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 719px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-footer1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 244px;
  width               : 1052px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-footer1 .bp1-rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 244px;
  width               : 1052px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-footer1 .bp1-socialicons {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 163px;
  height              : 28px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-footer1 .bp1-socialicons .bp1-facebook {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 27px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-footer1 .bp1-socialicons .bp1-instagramicon {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-footer1 .bp1-socialicons .bp1-youtube {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 27px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 91px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-rectangle2copy {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 161px;
  height              : 37px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 719px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-rectangle2copy2 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 112px;
  height              : 37px;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 719px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-subscribe {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 164px;
  height              : auto;
  width               : 81px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(122, 122, 122, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footer .bp1-textyouremailaddress {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 113px;
  height              : 30px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(122, 122, 122, 1.0);
  text-align          : left;
  line-height         : 22.0px;
  border              : 0;
}
.bp1-services .bp1-footer .bp1-textyouremailaddress::placeholder {
  color               : rgba(122, 122, 122, 0.6);
}
.bp1-services .bp1-footer .bp1-address {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : auto;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-address .bp1-a1630oaklandrdsuit {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footer .bp1-subscribeinfo {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : auto;
  width               : 278px;
  position            : absolute;
  margin              : 0;
  left                : 721px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footer .bp1-subscribeinfo .bp1-subscribetoournew {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : flex-start;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2483px;
  height              : auto;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footerlinks .bp1-home {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks .bp1-aboutus {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks .bp1-services1 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks .bp1-coursetraining {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks .bp1-shipping {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks .bp1-clientcare {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks .bp1-qaeducational {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2483px;
  height              : auto;
  width               : 162px;
  position            : absolute;
  margin              : 0;
  left                : 218px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-services .bp1-footerlinks2 .bp1-products {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks2 .bp1-blog {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks2 .bp1-contactus {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks2 .bp1-team {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.bp1-services .bp1-footerlinks2 .bp1-successstories {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 2px 0 0 0;
  width               : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 767px) {
  .bp2-servicesmobile {
    display             : block;
  }
  .bp3-servicesipad {
    display             : none;
  }
  .bp1-services {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp2-servicesmobile {
    display             : none;
  }
  .bp3-servicesipad {
    display             : block;
  }
  .bp1-services {
    display             : none;
  }
}
@media screen and (min-width: 1024px) {
  .bp2-servicesmobile {
    display             : none;
  }
  .bp3-servicesipad {
    display             : none;
  }
  .bp1-services {
    display             : block;
  }
}