@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@font-face {
  font-family: "MyriadPro-Regular";
  src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}
@font-face {
  font-family: "BlackHanSans-Regular";
  src: url('../fonts/BlackHanSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "TimesNewRomanPS-BoldMT";
  src: url('../fonts/Times New Roman Bold.ttf') format("truetype");
}

.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.bp3-teamipad {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 2446px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-an-animation-enter22 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp3-an-animation-enter22-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp3-an-animation-enter22-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp3-an-animation-enter22-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp3-an-animation-enter22-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp3-an-animation-enter22-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp3-an-animation-enter22-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp3-an-animation-enter22-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp3-an-animation-enter22-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp3-an-animation-enter23 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp3-an-animation-enter23-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp3-an-animation-enter23-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp3-an-animation-enter23-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp3-an-animation-enter23-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp3-an-animation-enter23-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp3-an-animation-enter23-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp3-an-animation-enter23-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp3-an-animation-enter23-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp3-an-animation-enter24 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp3-an-animation-enter24-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp3-an-animation-enter24-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp3-an-animation-enter24-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp3-an-animation-enter24-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp3-an-animation-enter24-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp3-an-animation-enter24-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp3-an-animation-enter24-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp3-an-animation-enter24-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp3-teamipad .bp3-banner {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 114px;
  width               : 774px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-banner1 {
  background-color    : rgba(102, 103, 103, 1.0);
  top                 : 0px;
  height              : 114px;
  width               : 774px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : 73px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 293px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-logo1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 41px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-spoolie {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 65px;
  height              : 8px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-box {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 67px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 133px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-spoolie1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 65px;
  height              : 8px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-box1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 67px;
  height              : 6px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 10px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 11px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 10px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 10px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 10px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 10px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 50px;
  height              : 11px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 46px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : 11px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-logo .bp3-text11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 49px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 136px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-banner .bp3-text12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 78px;
  height              : auto;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MyriadPro-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(254, 255, 254, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.bp3-teamipad .bp3-stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 92px;
  height              : 15px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp3-teamipad .bp3-stackedgroup .bp3-linkscopy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-teamipad .bp3-stackedgroup .bp3-links {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-teamipad .bp3-stackedgroup .bp3-product {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-teamipad .bp3-stackedgroup .bp3-services {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-teamipad .bp3-stackedgroup .bp3-blog {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-teamipad .bp3-stackedgroup .bp3-coursetraining {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp3-teamipad .bp3-stackedgroup .bp3-contact {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp2-teammobile {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 3773px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-an-animation-enter16 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : bp2-an-animation-enter16-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp2-an-animation-enter16-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp2-an-animation-enter16-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp2-an-animation-enter16-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp2-an-animation-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes bp2-an-animation-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes bp2-an-animation-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes bp2-an-animation-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.bp2-teammobile .bp2-banner {
  background-color    : rgba(102, 103, 103, 1.0);
  top                 : calc(0.00% - 8px);
  height              : 199px;
  width               : 325px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 152px;
  height              : 15px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-stackedgroup .bp2-linkscopy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup .bp2-links {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 27px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup .bp2-linkscopy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 27px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup .bp2-linkscopy2 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 27px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup2 {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 170px;
  height              : 15px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-stackedgroup2 .bp2-linkscopy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup2 .bp2-linkscopy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup2 .bp2-linkscopy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-stackedgroup2 .bp2-linkscopy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 13.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.bp2-teammobile .bp2-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 130px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 117px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-logo1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-spoolie {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 104px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-box {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 107px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-spoolie1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 104px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-box1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 107px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 21px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 21px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 18px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-logotext .bp2-text11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 17px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp2-teammobile .bp2-logo .bp2-text12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 103px;
  height              : auto;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MyriadPro-Regular", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(254, 255, 254, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.bp1-team {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 2475px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-an-animation-enter33 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp1-an-animation-enter33-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp1-an-animation-enter33-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp1-an-animation-enter33-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp1-an-animation-enter33-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp1-an-animation-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp1-an-animation-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp1-an-animation-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp1-an-animation-enter33-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp1-an-animation-enter34 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp1-an-animation-enter34-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp1-an-animation-enter34-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp1-an-animation-enter34-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp1-an-animation-enter34-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp1-an-animation-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp1-an-animation-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp1-an-animation-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp1-an-animation-enter34-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp1-an-animation-enter35 {
  opacity             : 0;
  transform           : scale(1.1);
  display             : block;
  -webkit-animation   : bp1-an-animation-enter35-frames 0.2s ease-in-out 1 normal forwards;
  -moz-animation      : bp1-an-animation-enter35-frames 0.2s ease-in-out 1 normal forwards;
  -o-animation        : bp1-an-animation-enter35-frames 0.2s ease-in-out 1 normal forwards;
  animation           : bp1-an-animation-enter35-frames 0.2s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes bp1-an-animation-enter35-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-moz-keyframes bp1-an-animation-enter35-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@-o-keyframes bp1-an-animation-enter35-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
@keyframes bp1-an-animation-enter35-frames {
  0%
   
  {
  opacity: 0;
  transform: scale(1.1);
    }
  
    
  100%
   
  {
  opacity: 1;
  transform: scale(1);
    }
}
.bp1-team .bp1-banner {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -4px;
  height              : 165px;
  width               : 1044px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-banner1 {
  background-color    : rgba(102, 103, 103, 1.0);
  top                 : 0px;
  height              : 165px;
  width               : 1044px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 117px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 372px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-logo1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-spoolie {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 104px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 222px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-box {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 107px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-spoolie1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 104px;
  height              : 13px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-box1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 107px;
  height              : 9px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 21px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 21px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 115px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 16px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 17px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 163px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 22px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 18px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-logo .bp1-text11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 79px;
  height              : 17px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-banner .bp1-text12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 119px;
  height              : auto;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "MyriadPro-Regular", Helvetica, Arial, serif;
  font-size           : 19.0px;
  color               : rgba(254, 255, 254, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.bp1-team .bp1-stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 139px;
  height              : 15px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 251px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-team .bp1-stackedgroup .bp1-linkscopy {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp1-team .bp1-stackedgroup .bp1-links {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp1-team .bp1-stackedgroup .bp1-product {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp1-team .bp1-stackedgroup .bp1-services {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp1-team .bp1-stackedgroup .bp1-blog {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp1-team .bp1-stackedgroup .bp1-coursetraining {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.bp1-team .bp1-stackedgroup .bp1-contact {
  background-color    : rgba(255, 255, 255, 0.0);
  position            : relative;
  height              : auto;
  margin              : 0 0 0 20px;
  width               : auto;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(215, 215, 215, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@media screen and (max-width: 767px) {
  .bp2-teammobile {
    display             : block;
  }
  .bp3-teamipad {
    display             : none;
  }
  .bp1-team {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp2-teammobile {
    display             : none;
  }
  .bp3-teamipad {
    display             : block;
  }
  .bp1-team {
    display             : none;
  }
}
@media screen and (min-width: 1024px) {
  .bp2-teammobile {
    display             : none;
  }
  .bp3-teamipad {
    display             : none;
  }
  .bp1-team {
    display             : block;
  }
}