<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="{{ url_for('static', filename='courseoverlay.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='serviceoverlay.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='productoverlay.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='overlay.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='team.css') }}" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="team"/>
        <div class="bp3-teamipad">
            <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                <div class="bp3-banner">
                    <div class="bp3-banner1">
                    </div>
                    <div class="bp3-logo">
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-logo@2x.png')}}" class="bp3-logo1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-spoolie@2x.png')}}" class="bp3-spoolie" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-box@2x.png')}}" class="bp3-box" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-spoolie 1@2x.png')}}" class="bp3-spoolie1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-box@2x.png')}}" class="bp3-box1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text@2x.png')}}" class="bp3-text" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 1@2x.png')}}" class="bp3-text1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 2@2x.png')}}" class="bp3-text2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 3@2x.png')}}" class="bp3-text3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 4@2x.png')}}" class="bp3-text4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 5@2x.png')}}" class="bp3-text5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 6@2x.png')}}" class="bp3-text6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 7@2x.png')}}" class="bp3-text7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 8@2x.png')}}" class="bp3-text8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 9@2x.png')}}" class="bp3-text9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 10@2x.png')}}" class="bp3-text10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-ipad-text 11@2x.png')}}" class="bp3-text11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="bp3-text12">
                        Lash Extensions
                    </div>
                </div>
                <div class="bp3-stackedgroup">
                    <a href="{{url_for('showHome')}}">
                        <div class="bp3-linkscopy">
                            Home
                        </div>
                    </a>
                    <a href="{{url_for('showAboutUs')}}">
                        <div class="bp3-links">
                            About Us
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('productoverlay', 'bp3-an-animation-enter22'); anima_loadAsyncSrc(); ">
                        <div class="bp3-product">
                            Product
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('serviceoverlay', 'bp3-an-animation-enter23'); anima_loadAsyncSrc(); ">
                        <div class="bp3-services">
                            Services
                        </div>
                    </a>
                    <a href="{{url_for('showBlog')}}">
                        <div class="bp3-blog">
                            Blog
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('courseoverlay', 'bp3-an-animation-enter24'); anima_loadAsyncSrc(); ">
                        <div class="bp3-coursetraining">
                            Course Training
                        </div>
                    </a>
                    <a href="{{url_for('showContact')}}">
                        <div class="bp3-contact">
                            Contact
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="bp2-teammobile">
            <div style="width: 320px; height: 100%; position:relative; margin:auto;">
                <div class="bp2-banner">
                </div>
                <div class="bp2-stackedgroup">
                    <a href="{{url_for('showHome')}}">
                        <div class="bp2-linkscopy7">
                            Home
                        </div>
                    </a>
                    <a href="{{url_for('showAboutUs')}}">
                        <div class="bp2-links">
                            About Us
                        </div>
                    </a>
                    <a href="{{url_for('showProducts')}}">
                        <div class="bp2-linkscopy">
                            Product
                        </div>
                    </a>
                    <a href="{{url_for('showServices')}}">
                        <div class="bp2-linkscopy2">
                            Services
                        </div>
                    </a>
                </div>
                <div class="bp2-stackedgroup2">
                    <a href="{{url_for('showBlog')}}">
                        <div class="bp2-linkscopy8">
                            Blog
                        </div>
                    </a>
                    <a href="{{url_for('showCourse')}}">
                        <div class="bp2-linkscopy4">
                            Course Training
                        </div>
                    </a>
                    <a href="{{url_for('showContact')}}">
                        <div class="bp2-linkscopy5">
                            Contact
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('overlay', 'bp2-an-animation-enter16'); anima_loadAsyncSrc(); ">
                        <div class="bp2-linkscopy6">
                            Other
                        </div>
                    </a>
                </div>
                <a href="{{url_for('showHome')}}">
                    <div class="bp2-logo">
                        <div class="bp2-logotext">
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-logo@2x.png')}}" class="bp2-logo1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-spoolie@2x.png')}}" class="bp2-spoolie" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-box@2x.png')}}" class="bp2-box" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-spoolie 1@2x.png')}}" class="bp2-spoolie1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-box@2x.png')}}" class="bp2-box1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text@2x.png')}}" class="bp2-text" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 1@2x.png')}}" class="bp2-text1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 2@2x.png')}}" class="bp2-text2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 3@2x.png')}}" class="bp2-text3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 4@2x.png')}}" class="bp2-text4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 5@2x.png')}}" class="bp2-text5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 6@2x.png')}}" class="bp2-text6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 7@2x.png')}}" class="bp2-text7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 8@2x.png')}}" class="bp2-text8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 9@2x.png')}}" class="bp2-text9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 10@2x.png')}}" class="bp2-text10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/unsuccessful-submit-mobile-text 11@2x.png')}}" class="bp2-text11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-text12">
                            Lash Extensions
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="bp1-team">
            <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                <div class="bp1-banner">
                    <div class="bp1-banner1">
                    </div>
                    <a href="{{url_for('showHome')}}">
                        <div class="bp1-logo">
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-logo@2x.png')}}" class="bp1-logo1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-spoolie@2x.png')}}" class="bp1-spoolie" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-box@2x.png')}}" class="bp1-box" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-spoolie 1@2x.png')}}" class="bp1-spoolie1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-box@2x.png')}}" class="bp1-box1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text@2x.png')}}" class="bp1-text" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 1@2x.png')}}" class="bp1-text1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 2@2x.png')}}" class="bp1-text2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 3@2x.png')}}" class="bp1-text3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 4@2x.png')}}" class="bp1-text4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 5@2x.png')}}" class="bp1-text5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 6@2x.png')}}" class="bp1-text6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 7@2x.png')}}" class="bp1-text7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 8@2x.png')}}" class="bp1-text8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 9@2x.png')}}" class="bp1-text9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 10@2x.png')}}" class="bp1-text10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{{url_for('static', filename='img/vetustweezer-text 11@2x.png')}}" class="bp1-text11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </a>
                    <div class="bp1-text12">
                        Lash Extensions
                    </div>
                </div>
                <div class="bp1-stackedgroup">
                    <a href="{{url_for('showHome')}}">
                        <div class="bp1-linkscopy">
                            Home
                        </div>
                    </a>
                    <a href="{{url_for('showAboutUs')}}">
                        <div class="bp1-links">
                            About Us
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('productoverlay', 'bp1-an-animation-enter33'); anima_loadAsyncSrc(); ">
                        <div class="bp1-product">
                            Product
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('serviceoverlay', 'bp1-an-animation-enter34'); anima_loadAsyncSrc(); ">
                        <div class="bp1-services">
                            Services
                        </div>
                    </a>
                    <a href="{{url_for('showBlog')}}">
                        <div class="bp1-blog">
                            Blog
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('courseoverlay', 'bp1-an-animation-enter35'); anima_loadAsyncSrc(); ">
                        <div class="bp1-coursetraining">
                            Course Training
                        </div>
                    </a>
                    <a href="{{url_for('showContact')}}">
                        <div class="bp1-contact">
                            Contact
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('productoverlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-productoverlay" style="min-height:2475px;">
                <div class="bp2-productoverlayipad">
                    <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="{{url_for('static', filename='img/productoverlayipad-product-ipad.png')}}" class="bp2-productipad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-rollovercopy">
                        </div>
                        <div class="bp2-stackedgroupcopy-layout-container">
                            <div class="bp2-stackedgroupcopy">
                                <a href="{{url_for('showProducts')}}">
                                    <div class="bp2-link">
                                        Products
                                    </div>
                                </a>
                                <a href="{{url_for('showShipping')}}">
                                    <div class="bp2-linkcopy">
                                        Shipping
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bp1-productoverlay">
                    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="{{url_for('static', filename='img/product-overlay-product.png')}}" class="bp1-product" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-rollover-layout-container">
                            <div class="bp1-rollover">
                            </div>
                        </div>
                        <div class="bp1-stackedgroup-layout-container">
                            <div class="bp1-stackedgroup">
                                <a href="{{url_for('showProducts')}}">
                                    <div class="bp1-link">
                                        Products
                                    </div>
                                </a>
                                <a href="{{url_for('showShipping')}}">
                                    <div class="bp1-linkcopy">
                                        Shipping
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('courseoverlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-courseoverlay" style="min-height:2475px;">
                <div class="bp2-courseoverlayipad">
                    <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="{{url_for('static', filename='img/courseoverlayipad-course-training-ipad.png')}}" class="bp2-coursetrainingipad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-rollovercopy">
                        </div>
                        <div class="bp2-stackedgroupcopy">
                            <a href="{{url_for('showCourse')}}">
                                <div class="bp2-link">
                                    Course Training
                                </div>
                            </a>
                            <a href="{{url_for('showSuccessStories')}}">
                                <div class="bp2-linkcopy">
                                    Success Stories
                                </div>
                            </a>
                            <a href="{{url_for('showEducational')}}">
                                <div class="bp2-linkcopy2">
                                    Q&amp;A - Educational
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bp1-courseoverlay">
                    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="{{url_for('static', filename='img/course-overlay-course-training-desktop.png')}}" class="bp1-coursetrainingdesktop" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-rollover">
                        </div>
                        <div class="bp1-stackedgroup">
                            <a href="{{url_for('showCourse')}}">
                                <div class="bp1-link">
                                    Course Training
                                </div>
                            </a>
                            <a href="{{url_for('showSuccessStories')}}">
                                <div class="bp1-linkcopy">
                                    Success Stories
                                </div>
                            </a>
                            <a href="{{url_for('showEducational')}}">
                                <div class="bp1-linkcopy2">
                                    Q&amp;A - Educational
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('serviceoverlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-serviceoverlay" style="min-height:2475px;">
                <div class="bp2-serviceoverlayipad">
                    <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="{{url_for('static', filename='img/serviceoverlayipad-services-ipad.png')}}" class="bp2-servicesipad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-rollovercopy">
                        </div>
                        <div class="bp2-stackedgroupcopy">
                            <a href="{{url_for('showServices')}}">
                                <div class="bp2-linkcopy2">
                                    Services
                                </div>
                            </a>
                            <a href="{{url_for('showTeam')}}">
                                <div class="bp2-link">
                                    Team
                                </div>
                            </a>
                            <a href="{{url_for('showClientCare')}}">
                                <div class="bp2-linkcopy">
                                    Client care
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bp1-serviceoverlay">
                    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="{{url_for('static', filename='img/service-overlay-services.png')}}" class="bp1-services" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-rollover">
                        </div>
                        <div class="bp1-stackedgroup">
                            <a href="{{url_for('showServices')}}">
                                <div class="bp1-linkcopy2">
                                    Services
                                </div>
                            </a>
                            <a href="{{url_for('showTeam')}}">
                                <div class="bp1-link">
                                    Team
                                </div>
                            </a>
                            <a href="{{url_for('showClientCare')}}">
                                <div class="bp1-linkcopy">
                                    Client care
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('overlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-overlay" style="min-height:2475px;">
                <div class="overlay">
                    <div style="width: 320px; height: 100%; position:relative; margin:auto;">
                        <div class="rollover">
                        </div>
                        <div class="overlaystackedlinks">
                            <a href="{{url_for('showShipping')}}">
                                <div class="shipping">
                                    Shipping
                                </div>
                            </a>
                            <a href="{{url_for('showTeam')}}">
                                <div class="team">
                                    Team
                                </div>
                            </a>
                            <a href="{{url_for('showClientCare')}}">
                                <div class="clientcare">
                                    Client Care
                                </div>
                            </a>
                            <a href="{{url_for('showSuccessStories')}}">
                                <div class="successstories">
                                    Success Stories
                                </div>
                            </a>
                            <div class="qaeducation">
                                Q&amp;A-Education
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <script>
            function AnimaShowOnScroll() {
                this.toShow = [];
                this.nextEventY = undefined;
            }
            AnimaShowOnScroll.prototype.show = function(e) {
                e.style.display = "";
            };
            AnimaShowOnScroll.prototype.hide = function(e) {
                e.style.display = "none";
            };
            AnimaShowOnScroll.prototype.getTop = function(e) {
                if (e.animaTop != undefined && e.animaTop != 0) {
                    return e.animaTop;
                }
                var top = 0;
                var iter = e;
                do {
                    top += iter.offsetTop || 0;
                    iter = iter.offsetParent;
                } while (iter);
                e.animaTop = top;
                return top;
            };
            AnimaShowOnScroll.prototype.onScroll = function() {
                var screenBottom = window.pageYOffset + window.innerHeight;
                if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
                    return;
                }
                this.nextEventY = undefined;
                for (var i = 0; i < this.toShow.length; i++) {
                    var e = this.toShow[i];
                    var top = this.getTop(e);
                    if (top < screenBottom) {
                        this.show(e);
                        this.toShow.shift();
                        i--;
                    } else {
                        this.nextEventY = top;
                        break;
                    }
                }
            };
            AnimaShowOnScroll.prototype.resetScrolling = function() {
                var screenBottom = window.pageYOffset + window.innerHeight;
                for (var i = 0; i < this.toShow.length; i++) {
                    var e = this.toShow[i];
                    this.show(e);
                }
                this.toShow = [];
                this.nextEventY == undefined;
                var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
                itemsToShowOnScroll = itemsToShowOnScroll.filter(function(e) {
                    return e.getAttribute("anima-show-on-scroll") != undefined;
                });
                var getTop = this.getTop;
                itemsToShowOnScroll.sort(function(a, b) {
                    return getTop(a) - getTop(b);
                });
                for (var i = 0; i < itemsToShowOnScroll.length; i++) {
                    var e = itemsToShowOnScroll[i];
                    var top = this.getTop(e);
                    if (top < screenBottom) {
                        continue;
                    }
                    this.toShow.push(e);
                    this.hide(e);
                    this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
                }
            };
            AnimaShowOnScroll.prototype.handleEvent = function(e) {
                switch (e.type) {
                    case "scroll":
                        this.onScroll();
                        break;
                    case "resize":
                        this.resetScrolling();
                        break;
                }
            };
            AnimaShowOnScroll.prototype.init = function() {
                this.resetScrolling();
                window.addEventListener("scroll", this);
                window.addEventListener("resize", this);
            };
            setTimeout(function() {
                var animaShowOnScroll = new AnimaShowOnScroll();
                animaShowOnScroll.init();
            }, 250);
        </script>
        <script>
            animaShowOverlay = function(overlayName, animationName) {
                overlayName = 'overlay-' + overlayName;
                var cssClasses = document.getElementById(overlayName).className.split(' ');
                var last = cssClasses.slice(-1)[0];
                if (last.lastIndexOf('an-animation-') == -1) {
                    document.getElementById(overlayName).className = document.getElementById(overlayName).className + " " + animationName;
                }
            };
            animaHideOverlay = function(overlayName, animationName) {
                overlayName = 'overlay-' + overlayName;
                var cssClasses = document.getElementById(overlayName).className.split(' ');
                var last = cssClasses.slice(-1)[0];
                if (last.lastIndexOf('an-animation-') != -1) {
                    cssClasses.splice(-1);
                    cssClasses.push(animationName);
                    document.getElementById(overlayName).className = cssClasses.join(' ');
                    cssClasses.splice(-1);
                    setTimeout(function() {
                        document.getElementById(overlayName).className = cssClasses.join(' ');
                    }, 1100);
                }
            };
        </script>
        <!-- End of Scripts -->
    </body>
</html>
