<html>

<body>
    <div class="entryForm">
        <h1> New Blog Post </h1>
        <form action="#" method='post'>
            <p> Title: </p>
            <input type='text' size='30' name='title'><br>
            <p> Date: </p>
            <input type='text' size='30' name='dateValue' placeholder='EX: Jun 17, 2018'><br>
            <p> Event Description: </p>
            <input type='text' size='30' name='story'><br>
            <p> Image name: </p>
            <input type='text' size='30' name='pictureURL' placeholder='EX: blog-desktop-vegas.png'><br>
            <input type='submit' value='Create'><br>
            <a href="{{url_for('showBlog')}}"> Cancel </a>
        </form>
    </div>
</body>

</html>
