<div class="entryForm">
    <!--<style>
        input {
            background-color: transparent;
            border: 0px solid;
            height: 20px;
            width: 160px;
            color: #CCC;
            text-align: center;
        }

        textarea:focus,
        input:focus {
            outline: none;
        }
    </style>-->
    <h1> Customer Information </h1>
    <form action="#" method="post">
        <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    <input type='text' size='30' name='first_name' placeholder='Katy'>
                </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    <input type='text' size='30' name='last_name' placeholder='Morina'>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type='text' size='30' name='customer_email' placeholder='example@gmail.com'>
                </td>
            </tr>
            <tr>
                <td>
                    Street Address
                </td>
                <td>
                    <input type='text' size='30' name='address_line_1' placeholder='1455 Market St.'>
                </td>
                <td>
                    <input type='text' size='30' name='address_line_2' placeholder='Ste 600'>
                </td>
            </tr>
            <tr>
                <td>
                    City
                </td>
                <td>
                    <input type='text' size='30' name='city' placeholder='San Francisco'>
                </td>
            </tr>
            <tr>
                <td>
                    State
                </td>
                <td>
                    <select>
                        <option type='radio' name='state' value='AL'> ALABAMA
                        </option>
                        <option type='radio' name='state' value='AK'> ALASKA
                        </option>
                        <option type='radio' name='state' value='AZ'> ARIZONA
                        </option>
                        <option type='radio' name='state' value='AR'> ARKANSAS
                        </option>
                        <option type='radio' name='state' value='CA'> CALIFORNIA
                        </option>
                        <option type='radio' name='state' value='CO'> COLORADO
                        </option>
                        <option type='radio' name='state' value='CT'> CONNECTICUT
                        </option>
                        <option type='radio' name='state' value='DE'> DELAWARE
                        </option>
                        <option type='radio' name='state' value='FL'> FLORIDA
                        </option>
                        <option type='radio' name='state' value='GA'> GEORGIA
                        </option>
                        <option type='radio' name='state' value='HI'> HAWAII
                        </option>
                        <option type='radio' name='state' value='ID'> IDAHO
                        </option>
                        <option type='radio' name='state' value='IL'> ILLINOIS
                        </option>
                        <option type='radio' name='state' value='IN'> INDIANA
                        </option>
                        <option type='radio' name='state' value='IA'> IOWA
                        </option>
                        <option type='radio' name='state' value='KS'> KANSAS
                        </option>
                        <option type='radio' name='state' value='KY'> KENTUCKY
                        </option>
                        <option type='radio' name='state' value='LA'> LOUISIANA
                        </option>
                        <option type='radio' name='state' value='ME'> MAINE
                        </option>
                        <option type='radio' name='state' value='MD'> MARYLAND
                        </option>
                        <option type='radio' name='state' value='MA'> MASSACHUSETTS
                        </option>
                        <option type='radio' name='state' value='MI'> MICHIGAN
                        </option>
                        <option type='radio' name='state' value='MN'> MINNESOTA
                        </option>
                        <option type='radio' name='state' value='MS'> MISSISSIPPI
                        </option>
                        <option type='radio' name='state' value='MO'> MISSOURI
                        </option>
                        <option type='radio' name='state' value='MT'> MONTANA
                        </option>
                        <option type='radio' name='state' value='NE'> NEBRASKA
                        </option>
                        <option type='radio' name='state' value='NV'> NEVADA
                        </option>
                        <option type='radio' name='state' value='NH'> NEW HAMPSHIRE
                        </option>
                        <option type='radio' name='state' value='NJ'> NEW JERSEY
                        </option>
                        <option type='radio' name='state' value='NM'> NEW MEXICO
                        </option>
                        <option type='radio' name='state' value='NY'> NEW YORK
                        </option>
                        <option type='radio' name='state' value='NC'> NORTH CAROLINA
                        </option>
                        <option type='radio' name='state' value='ND'> NORTH DAKOTA
                        </option>
                        <option type='radio' name='state' value='OH'> OHIO
                        </option>
                        <option type='radio' name='state' value='OK'> OKLAHOMA
                        </option>
                        <option type='radio' name='state' value='OR'> OREGON
                        </option>
                        <option type='radio' name='state' value='PA'> PENNSYLVANIA
                        </option>
                        <option type='radio' name='state' value='RI'> RHODE ISLAND
                        </option>
                        <option type='radio' name='state' value='SC'> SOUTH CAROLINA
                        </option>
                        <option type='radio' name='state' value='SD'> SOUTH DAKOTA
                        </option>
                        <option type='radio' name='state' value='TN'> TENNESSEE
                        </option>
                        <option type='radio' name='state' value='TX'> TEXAS
                        </option>
                        <option type='radio' name='state' value='UT'> UTAH
                        </option>
                        <option type='radio' name='state' value='VT'> VERMONT
                        </option>
                        <option type='radio' name='state' value='VA'> VIRGINIA
                        </option>
                        <option type='radio' name='state' value='WA'> WASHINGTON
                        </option>
                        <option type='radio' name='state' value='WV'> WEST VIRGINIA
                        </option>
                        <option type='radio' name='state' value='WI'> WISCONSIN
                        </option>
                        <option type='radio' name='state' value='WY'> WYOMING
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Zip Code
                </td>
                <td>
                    <input type='text' size='30' name='zip_code' placeholder='94103'>
                </td>
            </tr>
        </table>


        <input type="submit" value="create">
        <br>
        <a href="{{url_for('showCustomerInfo')}}"> Cancel </a>
    </form>
</div>