<link href="sqpaymentform.css" rel="stylesheet" type="text/css" />
<div class="entryForm">
    <h1> Payment Information </h1>
    <form action="#" method="post">
        <table>
            <tr>
                <td class='label'> Name on Card </td>
                <td>
                    <input type='text' size='30' name='card_name' placeholder='Jane Doe'>
                </td>
            </tr>
            <tr>
                <td class='label'> Card Number </td>
                <td>
                    <input type='text' size='30' name='card_number' placeholder='0000 0000 0000 0000'>
                </td>
            </tr>
            <tr>
                <td class='label'> Card Details</td>
                <td>
                    <input type='text' size='10' name='card_expire' placeholder='MM/YY'>
                    <input type='text' size='10' name='card_cvv' placeholder='CVV'>
                    <input type='text' size='10' name='card_zip' placeholder='Postal Code'>
                </td>
            </tr>
        </table>
        <input type="submit" value="Save and Proceed">
        <br>
        <a href="{{url_for('showCustomerInfo')}}"> Cancel </a>
    </form>
</div>