{% block content %}
{% include "header.html" %}
<div class='pane infoPages'>
    <div style="float: left; width: 50%;">
        <img src="{{product.image_url}}" style="width:75%; height:75%;">
    </div>
    <div style="float: left; width: 50%;">
        <h2> {{product.name}} </h2>
        <h3> ${{product.cost}}0 </h3>
        <br> SKU: {{product.product_sku}}
        <img src="{{url_for('static', filename='img/productpage-line.png')}}" class="line1" />
        <br> Quantity:
        <form action="#" method="post">
            <select>
                <option type='radio' name='product_quantity' value='0'> 0 </br>
                </option>
                <option type='radio' name='product_quantity' value='1'> 1 </br>
                </option>
                <option type='radio' name='product_quantity' value='2'> 2 </br>
                </option>
                <option type='radio' name='product_quantity' value='3'> 3 </br>
                </option>
                <option type='radio' name='product_quantity' value='4'> 4 </br>
                </option>
                <option type='radio' name='product_quantity' value='5'> 5 </br>
                </option>
                <option type='radio' name='product_quantity' value='6'> 6 </br>
                </option>
                <option type='radio' name='product_quantity' value='7'> 7 </br>
                </option>
                <option type='radio' name='product_quantity' value='8'> 8 </br>
                </option>
                <option type='radio' name='product_quantity' value='9'> 9 </br>
                </option>
                <option type='radio' name='product_quantity' value='10'> 10 </br>
                </option>
                </option>
            </select>
            <br>
            <input type='submit' value='Add to Cart'>
        </form>
        {% if product.stock_count_alert!= none %}
        <br> {{product.stock_count_alert}} {% endif %}
        <h3> Description </h3>
        <p> {{product.description}} </p>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}