{% block content %} {% include "header.html" %}
<div class='pane infoPages'>
    <h1> Blog Posts </h1>
    <div>
        {% for i in blogs %} {% if i==1 %}
        <div style="border-style: dotted;">
            <h2>Latest Story</h2>
            <img anima-src="{{url_for('static', filename='img/educational-line.png')}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <br>
            <img src="{{i.pictureURL}}" style="width:20%; height:20%" />
            <h2> {{i.title}} </h2>
            <br> {{i.dataValue}}
            <br>
            <p>{{i.story}}</p>
        </div>
        {% else %}
        <div style="border-style: dotted;">
            <img anima-src="{{url_for('static', filename='img/blog-desktop-line-.png')}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            />
            <br>
            <img src="{{i.pictureURL}}" style="width:20%; height:20%" />
            <h2> {{i.title}} </h2>
            <br> {{i.dataValue}}
            <br>
            <p>{{i.story}}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

</div>
{% include "footer.html" %} {% endblock %}