<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <link href="./css/serviceoverlay.css" rel="stylesheet" type="text/css"/>
        <link href="./css/productoverlay.css" rel="stylesheet" type="text/css"/>
        <link href="./css/courseoverlay.css" rel="stylesheet" type="text/css"/>
        <link href="./css/overlay.css" rel="stylesheet" type="text/css"/>
        <link href="./css/unsuccessfulsubmit.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="unsuccessfulsubmit"/>
        <form action="form11" class="bp1-unsuccessfulsubmit" method="post" name="form11">
            <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                <div class="bp1-forumbanner">
                    <div class="bp1-banner">
                    </div>
                    <img anima-src="./img/unsuccessful-submit-parachute.png" class="bp1-parachute" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp1-text">
                        “ Even if parachute fails,
                        <br/>
                        your lashes won’t”
                    </div>
                </div>
                <div class="bp1-messageforum">
                    <div class="bp1-textcopy">
                        Your message has been successfully sent.
                        <br/>
                        We will contact you soon!
                    </div>
                </div>
                <div class="bp1-banner1">
                    <div class="bp1-banner2">
                    </div>
                    <a href="home.html">
                        <div class="bp1-logo">
                            <img anima-src="./img/vetustweezer-logo@2x.png" class="bp1-logo1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-spoolie@2x.png" class="bp1-spoolie" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-box@2x.png" class="bp1-box" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-spoolie 1@2x.png" class="bp1-spoolie1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-box@2x.png" class="bp1-box1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text@2x.png" class="bp1-text1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 1@2x.png" class="bp1-text2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 2@2x.png" class="bp1-text3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 3@2x.png" class="bp1-text4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 4@2x.png" class="bp1-text5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 5@2x.png" class="bp1-text6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 6@2x.png" class="bp1-text7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 7@2x.png" class="bp1-text8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 8@2x.png" class="bp1-text9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 9@2x.png" class="bp1-text10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 10@2x.png" class="bp1-text11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/vetustweezer-text 11@2x.png" class="bp1-text12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </a>
                    <div class="bp1-text13">
                        Lash Extensions
                    </div>
                </div>
                <div class="bp1-stackedgroup">
                    <a href="home.html">
                        <div class="bp1-linkscopy">
                            Home
                        </div>
                    </a>
                    <a href="aboutus.html">
                        <div class="bp1-links">
                            About Us
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('productoverlay', 'bp1-an-animation-enter9'); anima_loadAsyncSrc(); ">
                        <div class="bp1-product">
                            Product
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('serviceoverlay', 'bp1-an-animation-enter10'); anima_loadAsyncSrc(); ">
                        <div class="bp1-services">
                            Services
                        </div>
                    </a>
                    <a href="blogipad.html">
                        <div class="bp1-blog">
                            Blog
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('courseoverlay', 'bp1-an-animation-enter11'); anima_loadAsyncSrc(); ">
                        <div class="bp1-coursetraining">
                            Course Training
                        </div>
                    </a>
                    <a href="contactipad.html">
                        <div class="bp1-contact">
                            Contact
                        </div>
                    </a>
                </div>
                <img anima-src="./img/unsuccessful-submit-box 2.png" class="bp1-box2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp1-path">
                </div>
                <img anima-src="./img/unsuccessful-submit-map.png" class="bp1-map" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp1-group">
                    <img anima-src="./img/unsuccessful-submit-oval-4@2x.png" class="bp1-oval4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/unsuccessful-submit-oval-3@2x.png" class="bp1-oval3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp1-rectangle1">
                    </div>
                    <img anima-src="./img/unsuccessful-submit-oval-1@2x.png" class="bp1-oval1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/unsuccessful-submit-oval-2@2x.png" class="bp1-oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="bp1-box3">
                </div>
                <div class="bp1-mapheader">
                    NAVIGATION
                </div>
                <div class="bp1-text14">
                    There was an error, please click below
                    <br/>
                    to try again.
                </div>
                <div class="bp1-thankyouheader">
                    Sorry, your message could not be sent.
                </div>
                <a href="contactipad.html">
                    <div class="bp1-group1">
                        <div class="bp1-rectangle5">
                        </div>
                        <div class="bp1-tryagain">
                            Try Again
                        </div>
                    </div>
                </a>
                <img anima-src="./img/unsuccessful-submit-notsentmailenvelope-2-copy@2x.png" class="bp1-notsentmailenvelope2copy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp1-contactheader">
                    Contact Us
                </div>
                <div class="bp1-map1">
                </div>
                <div class="bp1-productbutton">
                    Our
                    <br/>
                    Products
                </div>
                <div class="bp1-girl">
                    <div class="bp1-mask">
                    </div>
                    <div class="bp1-girl1">
                        <div class="bp1-mask1">
                        </div>
                        <img anima-src="./img/unsuccessful-submit-girl.png" class="bp1-girl2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="bp1-path1">
                </div>
                <img anima-src="./img/unsuccessful-submit-rectangle.png" class="bp1-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="https://www.facebook.com/Lighteyes.USA/" target="_blank">
                    <div class="bp1-facebook">
                        <a href="https://www.facebook.com/Lighteyes.USA/" target="_blank">
                            <img anima-src="./img/unsuccessful-submit-facebook@2x.png" class="bp1-facebook1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                    </div>
                </a>
                <a href="https://www.instagram.com/lighteyes.usa/" target="_blank">
                    <img anima-src="./img/unsuccessful-submit-instagram-icon@2x.png" class="bp1-instagramicon" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </a>
                <a href="https://www.youtube.com/channel/UCDFChI-zAiMXhpJMvM1ADrw" target="_blank">
                    <div class="bp1-youtube">
                        <a href="https://www.youtube.com/channel/UCDFChI-zAiMXhpJMvM1ADrw" target="_blank">
                            <img anima-src="./img/unsuccessful-submit-youtube@2x.png" class="bp1-youtube1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </a>
                    </div>
                </a>
                <a href="product.html">
                    <div class="bp1-products">
                        Products
                    </div>
                </a>
                <a href="aboutus.html">
                    <div class="bp1-aboutus">
                        About Us
                    </div>
                </a>
                <a href="home.html">
                    <div class="bp1-home">
                        Home
                    </div>
                </a>
                <a href="blogipad.html">
                    <div class="bp1-blog1">
                        Blog
                    </div>
                </a>
                <a href="contactipad.html">
                    <div class="bp1-contactus">
                        Contact Us
                    </div>
                </a>
                <div class="bp1-rectangle2copy">
                </div>
                <div class="bp1-rectangle2copy2">
                </div>
                <a href="#" onclick="document.getElementsByName('form11')[0].submit(); if (window.submitted) window.submitted();">
                    <div class="bp1-subscribe">
                        Subscribe
                    </div>
                </a>
                <input class="bp1-textyouremailaddress" name="textYourEmailAddress" placeholder="Your email address"/>
                <div class="bp1-a1630oaklandrdsuit">
                    1630 Oakland Rd
                    <br/>
                    Suite#A100
                    <br/>
                    San Jose, CA 95131
                    <br/>
                </div>
                <div class="bp1-subscribetoournew">
                    Subscribe to our newsletter!
                    <br/>
                    Get our latest updates.
                    <br/>
                </div>
                <a href="services.html">
                    <div class="bp1-services1">
                        Services
                    </div>
                </a>
                <a href="coursemobile.html">
                    <div class="bp1-coursetraining1">
                        Course Training
                    </div>
                </a>
                <a href="shipping.html">
                    <div class="bp1-shipping">
                        Shipping
                    </div>
                </a>
                <a href="clientcare.html">
                    <div class="bp1-clientcare">
                        Client Care
                    </div>
                </a>
                <a href="educational.html">
                    <div class="bp1-qaeducational">
                        Q&amp;A - Educational
                    </div>
                </a>
                <a href="team.html">
                    <div class="bp1-team">
                        Team
                    </div>
                </a>
                <a href="successstoriesipad.html">
                    <div class="bp1-successstories">
                        Success Stories
                    </div>
                </a>
                <div class="bp1-text15">
                    Light Eyes USA
                    <br/>
                    Beside Echo Church
                    <br/>
                    1630 Oakland Rd Suite A100,
                    <br/>
                    San Jose, California, 95131
                    <br/>
                    650.646.4727
                </div>
            </div>
        </form>
        <form action="form32" class="bp2-unsuccessfulsubmitmobile" method="post" name="form32">
            <div style="width: 320px; height: 100%; position:relative; margin:auto;">
                <div class="bp2-sublinks1">
                    <div class="bp2-stackedgroup">
                        <a href="aboutus.html">
                            <div class="bp2-aboutus">
                                About Us
                            </div>
                        </a>
                        <a href="services.html">
                            <div class="bp2-services">
                                Services
                            </div>
                        </a>
                        <a href="coursemobile.html">
                            <div class="bp2-coursetraining">
                                Course Training
                            </div>
                        </a>
                        <a href="shipping.html">
                            <div class="bp2-shipping">
                                Shipping
                            </div>
                        </a>
                        <a href="clientcare.html">
                            <div class="bp2-clientcare">
                                Client Care
                            </div>
                        </a>
                        <a href="educational.html">
                            <div class="bp2-qaeducational">
                                Q&amp;A - Educational
                            </div>
                        </a>
                    </div>
                </div>
                <div class="bp2-footer">
                    <div class="bp2-path">
                    </div>
                    <div class="bp2-footer1">
                        <img anima-src="./img/unsuccessful-submit-mobile-rectangle.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="bp2-box">
                    </div>
                    <div class="bp2-box1">
                    </div>
                    <div class="bp2-emailaddress">
                        Your email
                    </div>
                    <a href="#" onclick="document.getElementsByName('form32')[0].submit(); if (window.submitted) window.submitted();">
                        <div class="bp2-subscribe">
                            Subscribe
                        </div>
                    </a>
                    <div class="bp2-text">
                        Subscribe to our newsletter!
                        <br/>
                        Get our latest updates.
                        <br/>
                    </div>
                </div>
                <div class="bp2-contactheader">
                    Contact US
                </div>
                <div class="bp2-text1">
                    Light Eyes USA
                    <br/>
                    Beside Echo Church
                    <br/>
                    1630 Oakland Rd Suite A100,
                    <br/>
                    San Jose, California
                    <br/>
                    95131
                    <br/>
                    650.646.4727
                </div>
                <a href="product.html">
                    <div class="bp2-productbutton">
                        <div class="bp2-box2-layout-container">
                            <div class="bp2-box2">
                            </div>
                        </div>
                        <div class="bp2-productbutton1-layout-container">
                            <div class="bp2-productbutton1">
                                Products
                            </div>
                        </div>
                    </div>
                </a>
                <div class="bp2-girl">
                    <div class="bp2-mask">
                    </div>
                    <div class="bp2-girl1">
                        <div class="bp2-mask1">
                        </div>
                        <img anima-src="./img/unsuccessful-submit-mobile-girl.png" class="bp2-girl2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="bp2-banner">
                </div>
                <div class="bp2-stackedgroup1">
                    <a href="home.html">
                        <div class="bp2-linkscopy7">
                            Home
                        </div>
                    </a>
                    <a href="aboutus.html">
                        <div class="bp2-links">
                            About Us
                        </div>
                    </a>
                    <a href="product.html">
                        <div class="bp2-linkscopy">
                            Product
                        </div>
                    </a>
                    <a href="services.html">
                        <div class="bp2-linkscopy2">
                            Services
                        </div>
                    </a>
                </div>
                <div class="bp2-stackedgroup2">
                    <a href="blogipad.html">
                        <div class="bp2-linkscopy8">
                            Blog
                        </div>
                    </a>
                    <a href="coursemobile.html">
                        <div class="bp2-linkscopy4">
                            Course Training
                        </div>
                    </a>
                    <a href="contactipad.html">
                        <div class="bp2-linkscopy5">
                            Contact
                        </div>
                    </a>
                    <a href="javascript:animaShowOverlay('overlay', 'bp2-an-animation-enter12'); anima_loadAsyncSrc(); ">
                        <div class="bp2-linkscopy6">
                            Other
                        </div>
                    </a>
                </div>
                <a href="home.html">
                    <div class="bp2-logo">
                        <div class="bp2-logotext">
                            <img anima-src="./img/unsuccessful-submit-mobile-logo@2x.png" class="bp2-logo1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-spoolie@2x.png" class="bp2-spoolie" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-box@2x.png" class="bp2-box3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-spoolie 1@2x.png" class="bp2-spoolie1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-box@2x.png" class="bp2-box4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text@2x.png" class="bp2-text2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 1@2x.png" class="bp2-text3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 2@2x.png" class="bp2-text4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 3@2x.png" class="bp2-text5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 4@2x.png" class="bp2-text6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 5@2x.png" class="bp2-text7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 6@2x.png" class="bp2-text8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 7@2x.png" class="bp2-text9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 8@2x.png" class="bp2-text10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 9@2x.png" class="bp2-text11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 10@2x.png" class="bp2-text12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="./img/unsuccessful-submit-mobile-text 11@2x.png" class="bp2-text13" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-text14">
                            Lash Extensions
                        </div>
                    </div>
                </a>
                <a href="aboutus.html">
                    <div class="bp2-aboutus1">
                        About Us
                    </div>
                </a>
                <a href="home.html">
                    <div class="bp2-home">
                        Home
                    </div>
                </a>
                <a href="shipping.html">
                    <div class="bp2-shipping1">
                        Shipping
                    </div>
                </a>
                <a href="clientcare.html">
                    <div class="bp2-clientcare1">
                        Client Care
                    </div>
                </a>
                <a href="educational.html">
                    <div class="bp2-qaeducational1">
                        Q&amp;A - Educational
                    </div>
                </a>
                <a href="services.html">
                    <div class="bp2-services1">
                        Services
                    </div>
                </a>
                <a href="coursemobile.html">
                    <div class="bp2-coursetraining1">
                        Course Training
                    </div>
                </a>
                <a href="product.html">
                    <div class="bp2-products">
                        Products
                    </div>
                </a>
                <a href="blogipad.html">
                    <div class="bp2-blog">
                        Blog
                    </div>
                </a>
                <a href="contactipad.html">
                    <div class="bp2-contactus">
                        Contact Us
                    </div>
                </a>
                <a href="team.html">
                    <div class="bp2-team">
                        Team
                    </div>
                </a>
                <a href="successstoriesipad.html">
                    <div class="bp2-successstories">
                        Success Stories
                    </div>
                </a>
                <div class="bp2-a1630oaklandrdsuit">
                    1630 Oakland Rd
                    <br/>
                    Suite#A100
                    <br/>
                    San Jose, CA 95131
                </div>
                <div class="bp2-mapbox">
                </div>
                <div class="bp2-map">
                    <img anima-src="./img/unsuccessful-submit-mobile-map.png" class="bp2-map1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp2-box5">
                    </div>
                </div>
                <div class="bp2-mapheader">
                    NAVIGATION
                </div>
                <div class="bp2-forumbanner">
                    <div class="bp2-box6">
                    </div>
                    <img anima-src="./img/unsuccessful-submit-mobile-parachute.png" class="bp2-parachute" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp2-text15">
                        “ Even if parachute fails,
                        <br/>
                        your lashes won’t”
                    </div>
                </div>
                <div class="bp2-messageforum">
                    <img anima-src="./img/unsuccessful-submit-mobile-forumbox.png" class="bp2-forumbox" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="bp2-group">
                    <img anima-src="./img/unsuccessful-submit-oval-4@2x.png" class="bp2-oval4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/unsuccessful-submit-oval-3@2x.png" class="bp2-oval3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp2-rectangle1">
                    </div>
                    <img anima-src="./img/unsuccessful-submit-oval-1@2x.png" class="bp2-oval1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/unsuccessful-submit-oval-2@2x.png" class="bp2-oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <a href="contactipad.html">
                    <div class="bp2-group1">
                        <div class="bp2-rectangle5copy">
                        </div>
                        <div class="bp2-tryagaincopy">
                            Try Again
                        </div>
                    </div>
                </a>
                <div class="bp2-text16">
                    There was an error, please click
                    <br/>
                    below to try again.
                </div>
                <div class="bp2-thankyouheader">
                    Sorry, your message
                    <br/>
                    could not be sent.
                </div>
                <img anima-src="./img/unsuccessful-submit-mobile-notsentmailenvelope-2@2x.png" class="bp2-notsentmailenvelope2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp2-socialicons">
                    <a href="https://www.facebook.com/Lighteyes.USA/" target="_blank">
                        <img anima-src="./img/unsuccessful-submit-mobile-facebook@2x.png" class="bp2-facebook" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <a href="https://www.instagram.com/lighteyes.usa/" target="_blank">
                        <img anima-src="./img/unsuccessful-submit-mobile-instagram-icon@2x.png" class="bp2-instagramicon" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                    <a href="https://www.youtube.com/channel/UCDFChI-zAiMXhpJMvM1ADrw" target="_blank">
                        <img anima-src="./img/unsuccessful-submit-mobile-youtube@2x.png" class="bp2-youtube" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </a>
                </div>
                <div class="bp2-mapheader1">
                    NAVIGATION
                </div>
            </div>
        </form>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('productoverlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-productoverlay" style="min-height:2028px;">
                <div class="bp1-productoverlay">
                    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="./img/product-overlay-product.png" class="bp1-product" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-rollover-layout-container">
                            <div class="bp1-rollover">
                            </div>
                        </div>
                        <div class="bp1-stackedgroup-layout-container">
                            <div class="bp1-stackedgroup">
                                <a href="product.html">
                                    <div class="bp1-link">
                                        Products
                                    </div>
                                </a>
                                <a href="shipping.html">
                                    <div class="bp1-linkcopy">
                                        Shipping
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bp2-productoverlayipad">
                    <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="./img/productoverlayipad-product-ipad.png" class="bp2-productipad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-rollovercopy">
                        </div>
                        <div class="bp2-stackedgroupcopy-layout-container">
                            <div class="bp2-stackedgroupcopy">
                                <a href="product.html">
                                    <div class="bp2-link">
                                        Products
                                    </div>
                                </a>
                                <a href="shipping.html">
                                    <div class="bp2-linkcopy">
                                        Shipping
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('courseoverlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-courseoverlay" style="min-height:2028px;">
                <div class="bp2-courseoverlayipad">
                    <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="./img/courseoverlayipad-course-training-ipad.png" class="bp2-coursetrainingipad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-rollovercopy">
                        </div>
                        <div class="bp2-stackedgroupcopy">
                            <a href="coursemobile.html">
                                <div class="bp2-link">
                                    Course Training
                                </div>
                            </a>
                            <a href="successstoriesipad.html">
                                <div class="bp2-linkcopy">
                                    Success Stories
                                </div>
                            </a>
                            <a href="educational.html">
                                <div class="bp2-linkcopy2">
                                    Q&amp;A - Educational
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bp1-courseoverlay">
                    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="./img/course-overlay-course-training-desktop.png" class="bp1-coursetrainingdesktop" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-rollover">
                        </div>
                        <div class="bp1-stackedgroup">
                            <a href="coursemobile.html">
                                <div class="bp1-link">
                                    Course Training
                                </div>
                            </a>
                            <a href="successstoriesipad.html">
                                <div class="bp1-linkcopy">
                                    Success Stories
                                </div>
                            </a>
                            <a href="educational.html">
                                <div class="bp1-linkcopy2">
                                    Q&amp;A - Educational
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('serviceoverlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-serviceoverlay" style="min-height:2028px;">
                <div class="bp1-serviceoverlay">
                    <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="./img/service-overlay-services.png" class="bp1-services" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-rollover">
                        </div>
                        <div class="bp1-stackedgroup">
                            <a href="services.html">
                                <div class="bp1-linkcopy2">
                                    Services
                                </div>
                            </a>
                            <a href="team.html">
                                <div class="bp1-link">
                                    Team
                                </div>
                            </a>
                            <a href="clientcare.html">
                                <div class="bp1-linkcopy">
                                    Client care
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bp2-serviceoverlayipad">
                    <div style="width: 768px; height: 100%; position:relative; margin:auto;">
                        <img anima-src="./img/serviceoverlayipad-services-ipad.png" class="bp2-servicesipad" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-rollovercopy">
                        </div>
                        <div class="bp2-stackedgroupcopy">
                            <a href="services.html">
                                <div class="bp2-linkcopy2">
                                    Services
                                </div>
                            </a>
                            <a href="team.html">
                                <div class="bp2-link">
                                    Team
                                </div>
                            </a>
                            <a href="clientcare.html">
                                <div class="bp2-linkcopy">
                                    Client care
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <script>
            function processClick(e) {
                var evt = e || window.event;
                if ((evt.target || evt.srcElement).parentElement == evt.target) {
                    animaHideOverlay('overlay', 'anima-animate-disappear');
                }
            }
        </script>
        <a href="#" onclick="processClick(this);">
            <div class="anima-overlay" id="overlay-overlay" style="min-height:2028px;">
                <div class="overlay">
                    <div style="width: 320px; height: 100%; position:relative; margin:auto;">
                        <div class="rollover">
                        </div>
                        <div class="overlaystackedlinks">
                            <a href="shipping.html">
                                <div class="shipping">
                                    Shipping
                                </div>
                            </a>
                            <a href="team.html">
                                <div class="team">
                                    Team
                                </div>
                            </a>
                            <a href="clientcare.html">
                                <div class="clientcare">
                                    Client Care
                                </div>
                            </a>
                            <a href="successstoriesipad.html">
                                <div class="successstories">
                                    Success Stories
                                </div>
                            </a>
                            <div class="qaeducation">
                                Q&amp;A-Education
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <script>
            function AnimaShowOnScroll() {
                this.toShow = [];
                this.nextEventY = undefined;
            }
            AnimaShowOnScroll.prototype.show = function(e) {
                e.style.display = "";
            };
            AnimaShowOnScroll.prototype.hide = function(e) {
                e.style.display = "none";
            };
            AnimaShowOnScroll.prototype.getTop = function(e) {
                if (e.animaTop != undefined && e.animaTop != 0) {
                    return e.animaTop;
                }
                var top = 0;
                var iter = e;
                do {
                    top += iter.offsetTop || 0;
                    iter = iter.offsetParent;
                } while (iter);
                e.animaTop = top;
                return top;
            };
            AnimaShowOnScroll.prototype.onScroll = function() {
                var screenBottom = window.pageYOffset + window.innerHeight;
                if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
                    return;
                }
                this.nextEventY = undefined;
                for (var i = 0; i < this.toShow.length; i++) {
                    var e = this.toShow[i];
                    var top = this.getTop(e);
                    if (top < screenBottom) {
                        this.show(e);
                        this.toShow.shift();
                        i--;
                    } else {
                        this.nextEventY = top;
                        break;
                    }
                }
            };
            AnimaShowOnScroll.prototype.resetScrolling = function() {
                var screenBottom = window.pageYOffset + window.innerHeight;
                for (var i = 0; i < this.toShow.length; i++) {
                    var e = this.toShow[i];
                    this.show(e);
                }
                this.toShow = [];
                this.nextEventY == undefined;
                var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
                itemsToShowOnScroll = itemsToShowOnScroll.filter(function(e) {
                    return e.getAttribute("anima-show-on-scroll") != undefined;
                });
                var getTop = this.getTop;
                itemsToShowOnScroll.sort(function(a, b) {
                    return getTop(a) - getTop(b);
                });
                for (var i = 0; i < itemsToShowOnScroll.length; i++) {
                    var e = itemsToShowOnScroll[i];
                    var top = this.getTop(e);
                    if (top < screenBottom) {
                        continue;
                    }
                    this.toShow.push(e);
                    this.hide(e);
                    this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
                }
            };
            AnimaShowOnScroll.prototype.handleEvent = function(e) {
                switch (e.type) {
                    case "scroll":
                        this.onScroll();
                        break;
                    case "resize":
                        this.resetScrolling();
                        break;
                }
            };
            AnimaShowOnScroll.prototype.init = function() {
                this.resetScrolling();
                window.addEventListener("scroll", this);
                window.addEventListener("resize", this);
            };
            setTimeout(function() {
                var animaShowOnScroll = new AnimaShowOnScroll();
                animaShowOnScroll.init();
            }, 250);
        </script>
        <script>
            animaShowOverlay = function(overlayName, animationName) {
                overlayName = 'overlay-' + overlayName;
                var cssClasses = document.getElementById(overlayName).className.split(' ');
                var last = cssClasses.slice(-1)[0];
                if (last.lastIndexOf('an-animation-') == -1) {
                    document.getElementById(overlayName).className = document.getElementById(overlayName).className + " " + animationName;
                }
            };
            animaHideOverlay = function(overlayName, animationName) {
                overlayName = 'overlay-' + overlayName;
                var cssClasses = document.getElementById(overlayName).className.split(' ');
                var last = cssClasses.slice(-1)[0];
                if (last.lastIndexOf('an-animation-') != -1) {
                    cssClasses.splice(-1);
                    cssClasses.push(animationName);
                    document.getElementById(overlayName).className = cssClasses.join(' ');
                    cssClasses.splice(-1);
                    setTimeout(function() {
                        document.getElementById(overlayName).className = cssClasses.join(' ');
                    }, 1100);
                }
            };
        </script>
        <!-- End of Scripts -->
    </body>
</html>
